.chatting-body{
    background-color: #ABC1D1;
    height: 1100vh;
}
.chatting-body .alt-header,
.chatting-body .status-bar{
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #ABC1D1;
    box-sizing: border-box;
}

.main-chatting{
   margin-top: 50px;
   display: flex;
flex-direction: column;
align-items: center;
animation: fadeIn 0.3s linear;


    
}
.chatting-body .alt-header{
    z-index: 1;
}
.chatting-body .status-bar{
    z-index: 2;
}
.chatting__timestamp{
    color: white;
    opacity: 0.8;
    background-color:#92A4B2;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 25px;
}
.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;


}
.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 15px;

}
.message__author{
    color: #6B7880;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
}
.message__info{
    display: flex;
    align-items: flex-end;

}
.message__buble{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}
.message__time{
    font-size: 9px;
    color: #6B7880;
    margin-left: 5px;
    opacity: 0.8;

}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message__buble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 5px; 
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}
.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:6px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child{
    width: 10%;

}
.reply .reply__column:last-child{
    width: 90%;
    position: relative;
    
}
.reply input{
    height: 30px;
    width: 100%;
    border:var(--main-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: -3px;
    top:2px
}
.reply__column:last-child i{
    right: 40px;
    top: 10px;
}
.reply__column:last-child button{
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.reply__column button:focus,
.reply__column button:active{
    outline: none;
}
.reply i{
    opacity: 0.6;
}
.reply__column button i{
    opacity: 1;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
    }
}


.reply .reply__column:first-child,
.reply .fa-kiss-wink-heart,
.reply button{
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-kiss-wink-heart,
.reply:focus-within button{
    opacity: 0;
}
.reply:focus-within input{
    width: 98vw;
    transform: translateX(-13%) translateY(-80px); 
}

.reply:focus-within{
    transform: translateY(80px);
}